# Razorpay API Keys
# Get your own test keys from: https://dashboard.razorpay.com/app/keys
RAZORPAY_KEY_ID=rzp_test_Th30AsOuqy0XKr
RAZORPAY_KEY_SECRET=AC546cvDFldV8KnyFQxirRFf

# Backend port
PORT=5000