RAZORPAY_KEY_ID=rzp_test_Th30AsOuqy0XKr
RAZORPAY_KEY_SECRET=AC546cvDFldV8KnyFQxirRFf
MONGO_URI=mongodb+srv://susantanayak01592_db_user:Susanta934800@cluster0.8a4cg6b.mongodb.net/mixtapekitchen?retryWrites=true&w=majority
JWT_SECRET=mixtape-kitchen-super-secret-2026
PORT=5000